{% extends "layout.html" %}
{% block body %}
  <h3>로그인</h3>
  <form action="{{ url_for('login') }}" method=post>
    <div>{{ form.user_id.label }}: {{ form.user_id() }}</div>
    <div>{{ form.password.label }}: {{ form.password() }}</div>   
    <div>{{ form.submit() }}</div>

    {% if form.errors %}
    <ul class="error">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
            <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}

    {% if err %}<p class="error"><strong>에:</strong> {{ err }}{% endif %}
  </form>
{% endblock %}