<h3>멤버 등록</h3>
<form method="POST" action="{{ url_for('regist_user') }}">
    <div>{{ form.user_id.label }}: {{ form.user_id() }}</div>
    <div>{{ form.name.label }}: {{ form.name() }}</div>
    <div>{{ form.name.label }}: {{ form.name() }}</div>
    <div>{{ form.password.label }}: {{ form.password() }}</div>
    <div>{{ form.homepage.label }}: {{ form.homepage() }}</div>   
    <div>{{ form.location.label }}: {{ form.location() }}</div>
    <div>{{ form.occupation.label }}: {{ form.occupation() }}</div>
    <div>{{ form.interact.label }}: {{ form.interact() }}</div>
    <div>{{ form.accept_rules.label }}: {{ form.accept_rules() }}</div>
    <div>{{ form.submit() }}</div>

    {% if form.errors %}
        <ul class="error">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
	{% endif %}

	{% if err %}
        <p class="error"><strong>에러:</strong> {{ err }} 
    {% endif %}
</form>

